{% load staticfiles %}
{% load twitter_tag %}
<html lang="en">
<head class="headunit"><!--A fancy name for the head-->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/finalfrontier.css' %}">
    <meta charset="UTF-8">
    <title>Final Frontier - NASA and ISS Tracking</title>
</head>
<body>
<!--All parts of the head, just basically the welcome sign.
had a logo before an included it but It's not so useful with the dark design.-->
<div class="headfoot main-div top">
<!--<img class="logo" src="static/media/logo.png"></img><br>-->
Welcome to the Final Frontier
</div>
<!--MOST main content held in this div-->
<div class="content main-div">
<br><br>
<div style="width:100%">
<!--Float left-->
<div class="lefty">
<div class="inside headfoot">
Where is the ISS?
</div><br>
<div id="map">
<script>
      function initMap() {
        var uluru = {lat: {{Space.lat}}, lng: {{Space.lon}}};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
		google.maps.event.addDomListener(window, 'load', initialize);
      }
</script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlwb0XscXweXaXi0XKRpXs8P2ZXSHzR9M&callback=initMap">
    </script>
</div>
</div>
<!--Float right-->
<div class="righty">
<div class="inside headfoot">
Keep up with the Crew!
</div><br><br><br><br>
Current NASA tweets:<br>
<div class="tweets">
	{% get_tweets for "Space_Station" as tweets %}
	
</div>
Astronauts on the ISS:  
{{Space.spacecadets}}<br><br><br>
</div>
<br></div>
<br><br><br><br>
<!--Had to fix the top of this heading, 
it kept coming up into the floaters-->
<div style="text-align:center">
<div class="inside headfoot fixtop">
Current Project Update  <br>
</div><br>
<div id="status">
{{Space.status_update}}...
</div>
<a class="link" href="https://blogs.nasa.gov/stationreport/feed/">
<h2>Read this update and more!</h2></a>
<br>
</div>
</div>
<!--Picture of the day! Left out padding so picture could be put in.
Also left in a dummy picture tag.-->
<div class="headfoot main-div">
<div class="bottom">
<a class="link" href="https://www.nasa.gov/multimedia/imagegallery/iotd.html">
NASA Picture of the Day</a><br>
<img class="photo" src="{{Space.daily_image}}" href="nasaphoto" alt="Picture of the Day!"></img>
</div>
</div>
</body>
</html>