<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/finalfrontier.css' %}">
    <meta charset="UTF-8">
    <title>Final Frontier - NASA and ISS Tracking</title>
</head>
<body>
Welcome to the Final Frontier.<br>
<br>
Current Latitude/Longitude of the ISS: {{Space.location}}<br>
Current Latitude of the ISS:           {{Space.lat}}<br>
Current Longitude of the ISS:          {{Space.lon}}<br>
<br>
Astronauts on the ISS:  {{Space.spacecadets}}<br>
<br>
Current NASA picture of the day:<br>
<br>
Current NASA project update:  <br>
{{Space.status_update}}
<br>
Current NASA tweets:<br>
<br>
Current location of ISS on the globe:<br>

</html>